hr {
  position: absolute;
  top: 50%;
  left: -10%;
  width: 120%;
}

hr:nth-child(1) {
  transform: rotate(1deg);
}

hr:nth-child(2) {
  transform: rotate(2deg);
}

hr:nth-child(3) {
  transform: rotate(3deg);
}

hr:nth-child(4) {
  transform: rotate(4deg);
}

hr:nth-child(5) {
  transform: rotate(5deg);
}

hr:nth-child(6) {
  transform: rotate(6deg);
}

hr:nth-child(7) {
  transform: rotate(7deg);
}

hr:nth-child(8) {
  transform: rotate(8deg);
}

hr:nth-child(9) {
  transform: rotate(9deg);
}

hr:nth-child(10) {
  transform: rotate(10deg);
}

hr:nth-child(11) {
  transform: rotate(11deg);
}

hr:nth-child(12) {
  transform: rotate(12deg);
}

hr:nth-child(13) {
  transform: rotate(13deg);
}

hr:nth-child(14) {
  transform: rotate(14deg);
}

hr:nth-child(15) {
  transform: rotate(15deg);
}

hr:nth-child(16) {
  transform: rotate(16deg);
}

hr:nth-child(17) {
  transform: rotate(17deg);
}

hr:nth-child(18) {
  transform: rotate(18deg);
}

hr:nth-child(19) {
  transform: rotate(19deg);
}

hr:nth-child(20) {
  transform: rotate(20deg);
}

hr:nth-child(21) {
  transform: rotate(21deg);
}

hr:nth-child(22) {
  transform: rotate(22deg);
}

hr:nth-child(23) {
  transform: rotate(23deg);
}

hr:nth-child(24) {
  transform: rotate(24deg);
}

hr:nth-child(25) {
  transform: rotate(25deg);
}

hr:nth-child(26) {
  transform: rotate(26deg);
}

hr:nth-child(27) {
  transform: rotate(27deg);
}

hr:nth-child(28) {
  transform: rotate(28deg);
}

hr:nth-child(29) {
  transform: rotate(29deg);
}

hr:nth-child(30) {
  transform: rotate(30deg);
}

hr:nth-child(31) {
  transform: rotate(31deg);
}

hr:nth-child(32) {
  transform: rotate(32deg);
}

hr:nth-child(33) {
  transform: rotate(33deg);
}

hr:nth-child(34) {
  transform: rotate(34deg);
}

hr:nth-child(35) {
  transform: rotate(35deg);
}

hr:nth-child(36) {
  transform: rotate(36deg);
}

hr:nth-child(37) {
  transform: rotate(37deg);
}

hr:nth-child(38) {
  transform: rotate(38deg);
}

hr:nth-child(39) {
  transform: rotate(39deg);
}

hr:nth-child(40) {
  transform: rotate(40deg);
}

hr:nth-child(41) {
  transform: rotate(41deg);
}

hr:nth-child(42) {
  transform: rotate(42deg);
}

hr:nth-child(43) {
  transform: rotate(43deg);
}

hr:nth-child(44) {
  transform: rotate(44deg);
}

hr:nth-child(45) {
  transform: rotate(45deg);
}

hr:nth-child(46) {
  transform: rotate(46deg);
}

hr:nth-child(47) {
  transform: rotate(47deg);
}

hr:nth-child(48) {
  transform: rotate(48deg);
}

hr:nth-child(49) {
  transform: rotate(49deg);
}

hr:nth-child(50) {
  transform: rotate(50deg);
}

hr:nth-child(51) {
  transform: rotate(51deg);
}

hr:nth-child(52) {
  transform: rotate(52deg);
}

hr:nth-child(53) {
  transform: rotate(53deg);
}

hr:nth-child(54) {
  transform: rotate(54deg);
}

hr:nth-child(55) {
  transform: rotate(55deg);
}

hr:nth-child(56) {
  transform: rotate(56deg);
}

hr:nth-child(57) {
  transform: rotate(57deg);
}

hr:nth-child(58) {
  transform: rotate(58deg);
}

hr:nth-child(59) {
  transform: rotate(59deg);
}

hr:nth-child(60) {
  transform: rotate(60deg);
}

hr:nth-child(61) {
  transform: rotate(61deg);
}

hr:nth-child(62) {
  transform: rotate(62deg);
}

hr:nth-child(63) {
  transform: rotate(63deg);
}

hr:nth-child(64) {
  transform: rotate(64deg);
}

hr:nth-child(65) {
  transform: rotate(65deg);
}

hr:nth-child(66) {
  transform: rotate(66deg);
}

hr:nth-child(67) {
  transform: rotate(67deg);
}

hr:nth-child(68) {
  transform: rotate(68deg);
}

hr:nth-child(69) {
  transform: rotate(69deg);
}

hr:nth-child(70) {
  transform: rotate(70deg);
}

hr:nth-child(71) {
  transform: rotate(71deg);
}

hr:nth-child(72) {
  transform: rotate(72deg);
}

hr:nth-child(73) {
  transform: rotate(73deg);
}

hr:nth-child(74) {
  transform: rotate(74deg);
}

hr:nth-child(75) {
  transform: rotate(75deg);
}

hr:nth-child(76) {
  transform: rotate(76deg);
}

hr:nth-child(77) {
  transform: rotate(77deg);
}

hr:nth-child(78) {
  transform: rotate(78deg);
}

hr:nth-child(79) {
  transform: rotate(79deg);
}

hr:nth-child(80) {
  transform: rotate(80deg);
}

hr:nth-child(81) {
  transform: rotate(81deg);
}

hr:nth-child(82) {
  transform: rotate(82deg);
}

hr:nth-child(83) {
  transform: rotate(83deg);
}

hr:nth-child(84) {
  transform: rotate(84deg);
}

hr:nth-child(85) {
  transform: rotate(85deg);
}

hr:nth-child(86) {
  transform: rotate(86deg);
}

hr:nth-child(87) {
  transform: rotate(87deg);
}

hr:nth-child(88) {
  transform: rotate(88deg);
}

hr:nth-child(89) {
  transform: rotate(89deg);
}

hr:nth-child(90) {
  transform: rotate(90deg);
}

hr:nth-child(91) {
  transform: rotate(91deg);
}

hr:nth-child(92) {
  transform: rotate(92deg);
}

hr:nth-child(93) {
  transform: rotate(93deg);
}

hr:nth-child(94) {
  transform: rotate(94deg);
}

hr:nth-child(95) {
  transform: rotate(95deg);
}

hr:nth-child(96) {
  transform: rotate(96deg);
}

hr:nth-child(97) {
  transform: rotate(97deg);
}

hr:nth-child(98) {
  transform: rotate(98deg);
}

hr:nth-child(99) {
  transform: rotate(99deg);
}

hr:nth-child(100) {
  transform: rotate(100deg);
}

hr:nth-child(101) {
  transform: rotate(101deg);
}

hr:nth-child(102) {
  transform: rotate(102deg);
}

hr:nth-child(103) {
  transform: rotate(103deg);
}

hr:nth-child(104) {
  transform: rotate(104deg);
}

hr:nth-child(105) {
  transform: rotate(105deg);
}

hr:nth-child(106) {
  transform: rotate(106deg);
}

hr:nth-child(107) {
  transform: rotate(107deg);
}

hr:nth-child(108) {
  transform: rotate(108deg);
}

hr:nth-child(109) {
  transform: rotate(109deg);
}

hr:nth-child(110) {
  transform: rotate(110deg);
}

hr:nth-child(111) {
  transform: rotate(111deg);
}

hr:nth-child(112) {
  transform: rotate(112deg);
}

hr:nth-child(113) {
  transform: rotate(113deg);
}

hr:nth-child(114) {
  transform: rotate(114deg);
}

hr:nth-child(115) {
  transform: rotate(115deg);
}

hr:nth-child(116) {
  transform: rotate(116deg);
}

hr:nth-child(117) {
  transform: rotate(117deg);
}

hr:nth-child(118) {
  transform: rotate(118deg);
}

hr:nth-child(119) {
  transform: rotate(119deg);
}

hr:nth-child(120) {
  transform: rotate(120deg);
}

hr:nth-child(121) {
  transform: rotate(121deg);
}

hr:nth-child(122) {
  transform: rotate(122deg);
}

hr:nth-child(123) {
  transform: rotate(123deg);
}

hr:nth-child(124) {
  transform: rotate(124deg);
}

hr:nth-child(125) {
  transform: rotate(125deg);
}

hr:nth-child(126) {
  transform: rotate(126deg);
}

hr:nth-child(127) {
  transform: rotate(127deg);
}

hr:nth-child(128) {
  transform: rotate(128deg);
}

hr:nth-child(129) {
  transform: rotate(129deg);
}

hr:nth-child(130) {
  transform: rotate(130deg);
}

hr:nth-child(131) {
  transform: rotate(131deg);
}

hr:nth-child(132) {
  transform: rotate(132deg);
}

hr:nth-child(133) {
  transform: rotate(133deg);
}

hr:nth-child(134) {
  transform: rotate(134deg);
}

hr:nth-child(135) {
  transform: rotate(135deg);
}

hr:nth-child(136) {
  transform: rotate(136deg);
}

hr:nth-child(137) {
  transform: rotate(137deg);
}

hr:nth-child(138) {
  transform: rotate(138deg);
}

hr:nth-child(139) {
  transform: rotate(139deg);
}

hr:nth-child(140) {
  transform: rotate(140deg);
}

hr:nth-child(141) {
  transform: rotate(141deg);
}

hr:nth-child(142) {
  transform: rotate(142deg);
}

hr:nth-child(143) {
  transform: rotate(143deg);
}

hr:nth-child(144) {
  transform: rotate(144deg);
}

hr:nth-child(145) {
  transform: rotate(145deg);
}

hr:nth-child(146) {
  transform: rotate(146deg);
}

hr:nth-child(147) {
  transform: rotate(147deg);
}

hr:nth-child(148) {
  transform: rotate(148deg);
}

hr:nth-child(149) {
  transform: rotate(149deg);
}

hr:nth-child(150) {
  transform: rotate(150deg);
}

hr:nth-child(151) {
  transform: rotate(151deg);
}

hr:nth-child(152) {
  transform: rotate(152deg);
}

hr:nth-child(153) {
  transform: rotate(153deg);
}

hr:nth-child(154) {
  transform: rotate(154deg);
}

hr:nth-child(155) {
  transform: rotate(155deg);
}

hr:nth-child(156) {
  transform: rotate(156deg);
}

hr:nth-child(157) {
  transform: rotate(157deg);
}

hr:nth-child(158) {
  transform: rotate(158deg);
}

hr:nth-child(159) {
  transform: rotate(159deg);
}

hr:nth-child(160) {
  transform: rotate(160deg);
}

hr:nth-child(161) {
  transform: rotate(161deg);
}

hr:nth-child(162) {
  transform: rotate(162deg);
}

hr:nth-child(163) {
  transform: rotate(163deg);
}

hr:nth-child(164) {
  transform: rotate(164deg);
}

hr:nth-child(165) {
  transform: rotate(165deg);
}

hr:nth-child(166) {
  transform: rotate(166deg);
}

hr:nth-child(167) {
  transform: rotate(167deg);
}

hr:nth-child(168) {
  transform: rotate(168deg);
}

hr:nth-child(169) {
  transform: rotate(169deg);
}

hr:nth-child(170) {
  transform: rotate(170deg);
}

hr:nth-child(171) {
  transform: rotate(171deg);
}

hr:nth-child(172) {
  transform: rotate(172deg);
}

hr:nth-child(173) {
  transform: rotate(173deg);
}

hr:nth-child(174) {
  transform: rotate(174deg);
}

hr:nth-child(175) {
  transform: rotate(175deg);
}

hr:nth-child(176) {
  transform: rotate(176deg);
}

hr:nth-child(177) {
  transform: rotate(177deg);
}

hr:nth-child(178) {
  transform: rotate(178deg);
}

hr:nth-child(179) {
  transform: rotate(179deg);
}

hr:nth-child(180) {
  transform: rotate(180deg);
}

hr:nth-child(181) {
  transform: rotate(181deg);
}

body {
  overflow: hidden;
}