html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  position: relative;
  line-height: 1;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(1rem at 50% -5rem, #222 100%, #090909 25rem, rgba(0, 0, 0, 0.1) 1rem, rgba(0, 0, 0, 0) 19px);
  background-attachment: fixed;
  background-color: #090909;
  background-repeat: no-repeat;
}

.fixed-container {
  background-color: #090909;
  z-index: 2;
  top: 0;
  height: 10rem;
  position: fixed;
  width: 100%;
  box-shadow: 0rem .5rem 1.5rem #090909;
}

.listening {
  margin: 1rem auto 0 auto;
  padding: 0 1rem;
  width: 50rem;
  color: #777;
  font-size: 1.7rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
.listening i {
  font-size: 1.5rem;
}

.voice-vibe {
  margin: 0 auto;
  width: 99%;
  height: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.results {
  z-index: 1;
  margin: 10rem auto 0 auto;
  position: relative;
  padding: 0 1rem;
  width: 50rem;
  height: 30rem;
  overflow-y: auto;
}

.move {
  background-color: #3DFF33;
  height: 2px;
  width: 2px;
  margin: 4px;
  float: left;
}

.no-move {
  float: left;
  margin: 4px;
  height: 2px;
  background-color: #3DFF33;
  width: 46%;
  padding: 0 1rem;
}

.big-vibe0 {
  -webkit-animation-name: active-listen;
          animation-name: active-listen;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  animation-iteration-count: infinite;
}

.big-vibe1 {
  -webkit-animation-name: active-listen;
          animation-name: active-listen;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  animation-iteration-count: infinite;
}

.big-vibe2 {
  -webkit-animation-name: active-listen;
          animation-name: active-listen;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  animation-iteration-count: infinite;
}

.big-vibe3 {
  -webkit-animation-name: active-listen;
          animation-name: active-listen;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  animation-iteration-count: infinite;
}

.big-vibe4 {
  -webkit-animation-name: active-listen;
          animation-name: active-listen;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  animation-iteration-count: infinite;
}

.big-vibe5 {
  -webkit-animation-name: active-listen;
          animation-name: active-listen;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

.big-vibe6 {
  -webkit-animation-name: active-listen;
          animation-name: active-listen;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  animation-iteration-count: infinite;
}

.big-vibe7 {
  -webkit-animation-name: active-listen;
          animation-name: active-listen;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  animation-iteration-count: infinite;
}

.big-vibe8 {
  -webkit-animation-name: active-listen;
          animation-name: active-listen;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes active-listen {
  0% {
    height: 2px;
  }
  25% {
    height: 40px;
  }
  50% {
    height: 2px;
  }
  100% {
    height: 2px;
  }
}

@keyframes active-listen {
  0% {
    height: 2px;
  }
  25% {
    height: 40px;
  }
  50% {
    height: 2px;
  }
  100% {
    height: 2px;
  }
}
.small-vibe0 {
  -webkit-animation-name: listening;
          animation-name: listening;
  -webkit-animation-duration: 2200ms;
          animation-duration: 2200ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.small-vibe1 {
  -webkit-animation-name: listening;
          animation-name: listening;
  -webkit-animation-duration: 2200ms;
          animation-duration: 2200ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.small-vibe2 {
  -webkit-animation-name: listening;
          animation-name: listening;
  -webkit-animation-duration: 2200ms;
          animation-duration: 2200ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.small-vibe3 {
  -webkit-animation-name: listening;
          animation-name: listening;
  -webkit-animation-duration: 2200ms;
          animation-duration: 2200ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.small-vibe4 {
  -webkit-animation-name: listening;
          animation-name: listening;
  -webkit-animation-duration: 2200ms;
          animation-duration: 2200ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.small-vibe5 {
  -webkit-animation-name: listening;
          animation-name: listening;
  -webkit-animation-duration: 2200ms;
          animation-duration: 2200ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.small-vibe6 {
  -webkit-animation-name: listening;
          animation-name: listening;
  -webkit-animation-duration: 2200ms;
          animation-duration: 2200ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.small-vibe7 {
  -webkit-animation-name: listening;
          animation-name: listening;
  -webkit-animation-duration: 2200ms;
          animation-duration: 2200ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.small-vibe8 {
  -webkit-animation-name: listening;
          animation-name: listening;
  -webkit-animation-duration: 2200ms;
          animation-duration: 2200ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes listening {
  0% {
    height: 2px;
  }
  25% {
    height: 15px;
  }
  50% {
    height: 2px;
  }
  100% {
    height: 2px;
  }
}

@keyframes listening {
  0% {
    height: 2px;
  }
  25% {
    height: 15px;
  }
  50% {
    height: 2px;
  }
  100% {
    height: 2px;
  }
}
.txt-ct {
  font-family: 'Work Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 200;
  width: 50rem;
  display: block;
  padding: 0 1rem .5rem;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  color: #939393;
  will-change: transform;
  -webkit-transition: opacity 2s ease, -webkit-transform 1s ease;
  transition: opacity 2s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 2s ease;
  transition: transform 1s ease, opacity 2s ease, -webkit-transform 1s ease;
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  opacity: 0;
}

.slide-in {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.slide-up {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
}

img {
  margin: .5rem;
}

/* Loader styles */
.overlay {
  position: fixed;
  display: none;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .7;
  z-index: 5;
  top: 2rem;
}

.loader {
  display: none;
  position: fixed;
  margin: 4rem auto;
  width: 100px;
  left: calc(50% - 50px);
  z-index: 10;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #fff;
  }
  40% {
    stroke: #3DFF33;
  }
  66% {
    stroke: #fff;
  }
  80%, 90% {
    stroke: #3DFF33;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #fff;
  }
  40% {
    stroke: #3DFF33;
  }
  66% {
    stroke: #fff;
  }
  80%, 90% {
    stroke: #3DFF33;
  }
}
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation-name: ellipsis;
          animation-name: ellipsis;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
  opacity: 0;
  color: #3DFF33;
  margin-left: .3rem;
}

@-webkit-keyframes ellipsis {
  50% {
    opacity: 1;
    width: 2em;
  }
}

@keyframes ellipsis {
  50% {
    opacity: 1;
    width: 2em;
  }
}